.background{
    background-color: cadetblue;
}

.title{
    color: white;
}

.underTitle{
    color: bisque;
   text-decoration: underline;
    border: thin solid red;
    width: 50%;
    height: 50 px;
    box-shadow: 3px 3px 3px black;
}
.paragraph{
    color: crimson;
}
.main{
    border:  1px solid black;
    width: 300px;
    height: 300px;
}

.section{

    color: aqua;
}