<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="curiculum%20vitae.css">
    <title>curiculum vitae</title>
</head>
<body>


<header class="header"  >
    <section class="section-titre">


        <h1 > DEVELOPPEUR WEB FRONT END</h1



    </section>

    <section class="section-photo"id='portrait' >

        <img src="images/IMG_1117.PNG.jpg">

    </section>
    <section class="section-coordonnée">
        <article class="article-coordonnée">

            <p><span id="firstName"> Brice </span>
                <span id="lastName"> Danvidé</span>
                <span id="adresse">Paris</span>
                <span id="email">brice_danvide@hotmail.fr</span>
                <span id="tel">0641664106</span>
            </p>
        </article>









    </section>
</header>

<main class="main">
    <section class="section-colonne-gauche">



        <article class="article article-competence">
            <h2>COMPETENCES </h2>




            <ul>
                <li>Developpement web front end</li>
                <li id="competence2">Html</li>
                <li id="competence3">Css3</li>
                <li id="competence4">Javascript</li>
                <li id="competence5">React Js</li>
                <li id="competence6">Angular 6</li>
                <li id="competence7">Nodes Js</li>
                <li id="competence8">GitHub</li>
                <li id="competence9">Adobe Creative Suite</li>
                <li id="competence9">Anglais Professionnel</li>



            </ul>
        </article>


    </section>
    <section class="section-colonne-droite">
        <article class="article article-experience">
            <h2>EXPERIENCES </h2>

            <h3>Microsoft France Mars 2009 /2018</h3>
            <ul>
                <li id="jobTitle1">Business Development Manager Surface</li>

                <li id="jobTitle2">Responsable Sponsoring TECHDAYS</li>


                <li id="jobTitle3">Channel Development ManagerSMS&P/SMB</li>

                <li id="jobTitle4">Technical Sales Specialiste Modern Workplace SMS&P/CTMCAM</li>


                <li id="jobTitle5">Inside Territory Manager SMS&P/CTMSud-Ouest</li>


            </ul>
            <h3>Sun Microsystems Juin 2007 /2009</h3>
            <ul>
                <li id="jobTitle6">Commercial Sédentaire Secteur Bancaire</li>
            </ul>


        </article>
        <article class="article article-formation">
            <h2>FORMATION</h2>

            <h3>White Rabbit avril 2019 ;) </h3>

            <p id="formationTitle1">Formation intensive developpeur front-end creation d application web avec Nodes/Angular/React</p>






            <h3>Creapole ESDI 2000 /2003 </h3>


            <p id="formationTitle2">Communication visuelle, Design produit, Architecture d intérieur, dessin</p>




            <h3> BAC Commercial Sciences des technologies tertiaires  2000   </h3>


            <p id="formationTitle3">Options Action et Communication Commerciale</p>





        </article>

    </section>
</main>

<script src="curiculum%20vitae.js" type="module"></script>



</body>
</html>